<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <a id="headTitle" class="navbar-brand font-weight-bold"
     [routerLink]="['/homepage']">
    <span><span style="color: red">B</span>aianat E-Commerce</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#exCollapsingNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="exCollapsingNavbar">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id="navTitle" 
                [routerLink]="['/homepage']">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="navTitle" 
                [routerLink]="['/products']">
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="navTitle" 
                [routerLink]="['/checkout']">
              Checkout
            </a>
          </li>
      </ul>
      <app-cart-menu></app-cart-menu>       
  </div>
</nav>
