<ul class="nav navbar-nav pull-xs-right">
  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-success font-weight-bolder" data-toggle="dropdown"
         href="#" role="button">
          Your Cart: {{cart.amount | currency: 'USD': 'symbol': '.2'}}
          ({{cart.count}} items)
      </a>
      <div class="dropdown-menu dropdown-menu-right">

          <div *ngIf="cart.count">
              <div class="table-resposive">
                  <table class="table mr-2 table-bordered text-center">
                      <thead class="thead-dark">
                        <tr>
                        <th scope="col" class="font-weight-bolder">Product</th>
                        <th scope="col" class="font-weight-bolder">Price</th>
                        <th scope="col" class="font-weight-bolder">Count</th>
                        <th scope="col" class="font-weight-bolder">Amount</th>
                        </tr>
                     </thead>
                      <tbody>
                          <tr *ngFor="let item of cart.items" class="text-center">
                              <td>{{item.product.title}}</td>
                              <td>{{item.product.price | currency: 'USD': 'symbol':'.2'}}</td>
                              <td>{{item.count}}</td>
                              <td>{{item.amount | number: '1.2-2'}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="total-cart pull-xs-right m-3 text-center font-weight-bolder">
                          <b>Total: {{cart.amount | currency:'USD': 'symbol':'.2'}}</b>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 text-center">
                      <a [routerLink]="['/cart']" class="btn btn-primary pull-xs-right m-2">
                          <i class="fas fa-shopping-cart"></i> Cart
                      </a>
                      <a [routerLink]="['/checkout']" class="btn btn-success pull-xs-right">
                          <i class="fas fa-credit-card"></i> Checkout
                      </a>
                  </div>
              </div>
          </div>
          <div class="text-center font-weight-bolder" *ngIf="!cart.count">The cart is empty</div>
      </div>
  </li>
</ul>