<div class="card m-3">
  <div class="card-header font-weight-bolder bg-transparent border-info text-dark" style="font-size: 1.5rem;">Quick Shop</div>
  <div class="input-group p-3">
    <input #search type="text" class="form-control" 
           placeholder="Product name" (keyup)="searchChanged(search.value)">
    <div class="input-group-btn ml-2">
      <button class="btn btn-info" type="button" [disabled]="disabled"
              (click)="searchProduct(search.value)">Search</button>
    </div>
  </div>
</div>