<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="form">
          <div class="container p-3">
            <div class="form-group row">
              <label for="firstName" class="col-xs-2 col-form-label">
                First Name
              </label>
              <div class="col-xs-10">
                <input type="text" class="form-control ml-3" id="firstName"
                     formControlName="firstName" value="" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="lastName" class="col-xs-2 col-form-label">
                Last Name
              </label>
              <div class="col-xs-10">
                <input type="text" class="form-control ml-3" id="lastName"
                      formControlName="lastName" value="">
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-xs-2 col-form-label email">
                Email
              </label>
              <div class="col-xs-10">
                <input type="email" class="form-control ml-3" id="email"
                      formControlName="email" value="">
              </div>
            </div>
            <div class="form-group row">
              <label for="phone" class="col-xs-2 col-form-label phone">
                Phone
              </label>
              <div class="col-xs-10">
                <input type="phone" class="form-control ml-3" id="phone"
                      formControlName="phone" value="">
              </div>
            </div>
            <div class="form-group row">
              <label for="address" class="col-xs-2 col-form-label address">
                Address
              </label>
              <div class="col-xs-10">
                <input type="text" class="form-control ml-3" id="address"
                      formControlName="address" value="">
              </div>
            </div>
            
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="order" class="col-xs-3 form-control-label">
              Order
            </label>
            <div class="col-xs-9">
              <h4 class="form-control-static ml-3">10225</h4>
            </div>
          </div>
          <div class="form-group row">
            <label for="amoun" class="col-xs-3 form-control-label">
              Amount
            </label>
            <div class="col-xs-9">
              <h4 class="form-control-static ml-3">
                {{cart.amount | currency: 'USD': 'symbol': '.2'}}
              </h4>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <div class="col-xs-12">
              <p>
                Please read these terms carefully before using the online payment facility. Using the online
                payment facility on this website indicates that you accept these terms. If you do not accept
                these terms do not use this facility.
              </p>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <div class="col-xs-3">
              <div class="form-check">
                <label class="form-check-label text-muted">
                  <input #terms type="checkbox" class="form-check-input mt-1" value="">
                  Accept the terms of use and conditions
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-9">
            <button class="btn btn-primary mr-2" (click)="submit()"
                    [disabled]="!form.valid">
              Submit
            </button>
            <button class="btn btn-secondary" [routerLink]="['/products']">
              Continue Shopping
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>